<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Ejs</title>
</head>
<body>
    <a href="/" alt="back to main page"> go back</a>
    <h1><%= title %></h1>
</body>
</html>